/* @import url("https://fonts.googleapis.com/css?family=Montserrat:400,700,900"); */
@import url("https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --michigan-blue: #00274c;
    --michigan-yellow: #ffcb05;
    --tsm-red: #f22e00;
    --tsm-yellow: #ffcb05;
    --masa-beige: #eeeeea;
    --almost-black: #363636;
    --red-theme: #db4938;
    --white-theme: #fdfdfd;
    --ng-blue: #0069B0;
    --spacex-blue: #005288;
    --spacex-grey: #A7A9AC;
    --black: #000;
    --grey: #A7A9AC;
}
body {
    background: var(--masa-beige);
    font-family: "Nunito", sans-serif;
    font-size: 1rem;

}
main {
    max-width: 900px;
    margin: auto;
    padding: .5rem;
    justify-content: space-between;
    align-items: center;
}
p {
    text-indent: 45px;
    margin: 0 0 1em;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul {
    list-style: none;
    display: flex;
    font-size: large;
}
a {
    text-decoration: none;
    color: inherit
}
h1 {
    display: flex;
}
figure {
    margin: 0 .5rem 0 .5rem;
}
.title {
    margin-bottom: .5rem;
    transition: 200ms;
    /* color: linear-gradient(117deg, var(--tsm-red) 0%, var(--tsm-yellow) 52%, var(--michigan-blue) 52%); */
    color: #fff;
    padding: 0.3rem 1rem;
    border-radius: 20px;
}
.title:hover {
    transform: scale(1.05) translate(2%, 0%);
}
.li {
    margin-right: 1rem;
    transition: 200ms;
}
.li:hover {
    transform: scale(1.10);
}
.container {
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 1rem 0;
}
.container--grid-2 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(45%, 1fr));
    grid-gap: 1rem;
    padding: 2rem 0;
}
.container--grid-3 {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
        grid-gap: 3rem 1.5rem;
        padding: 2rem 0;
    }
.card {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 105%;
    background: var(--white-theme);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    border-radius: 10px;
    margin: auto;
    overflow: hidden;
    transition: 200ms;
  }
.card:hover {
    transform: scale(1.05);
}
  .card--avatar {
    height: 12rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    object-fit: cover;
    background: linear-gradient(117deg, var(--tsm-red) 0%, var(--tsm-yellow) 52%, var(--michigan-blue) 52%);
  }
  .card--avatar.masa {
    background: linear-gradient(117deg, var(--tsm-red) 0%, var(--tsm-yellow) 52%, var(--michigan-blue) 52%);
  }
  .card--avatar.ng {
    background: var(--black);
  }
  .card--avatar.spacex {
    background: var(--white-theme);
  }
  .card--image {
    display: flex;
    align-items: center;
    flex-direction: column;
    background: var(--white-theme);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    border-radius: 10px;
    margin: auto;
    overflow: hidden;
    transition: 200ms;
    height: 12rem;
    width: 100%;
    justify-content: center;
    object-fit: cover;
  }
  .card--image:hover {
    transform: scale(1.05);
  }
  .card--title {
    color: #222;
    font-weight: 700;
    text-transform: capitalize;
    font-size: 1.2rem;
    margin-top: 0.5rem;
    margin-bottom: .5rem;
    height: 3rem;
    background: #fff;
    text-align:center
  }
  .card--link {
    text-decoration: none;
    /* background: #db4938; */
    color: #fff;
    padding: 0.3rem 1rem;
    border-radius: 20px;
    transition: 200ms;
  }
  .card--link:hover {
    transform: scale(1.10);
  }
.img--align-right-link {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    float: right;
    margin: 0 16px 10px;
    transition: 500ms;
}
.img--align-right-link:hover {
    transform: scale(1.05);
}
.img--align-right {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    float: right;
    margin: 0 16px 10px;
}
.img--align-left-link {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    float: left;
    margin: 0 16px 10px;
    transition: 500ms;
}
.img--align-left-link:hover {
    transform: scale(1.05);
}
.img--align-left {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    float: left;
    margin: 0 16px 10px;
}
.img--align-center-link {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    float: center;
    margin: 0 16px 10px;
    transition: 500ms;
}
.img--align-center-link:hover {
    transform: scale(1.05);
}
.img--align-center-link-transparent {
    float: center;
    margin: 0 16px 10px;
    transition: 500ms;
}
.img--align-center-link-transparent:hover {
    transform: scale(1.05);
}
/* MASA Leadership Styles */
.card-masa-projects {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 17rem;
    background: var(--grey);
    /* box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); */
    /* border-radius: 10px; */
    margin: auto;
    overflow: hidden;
    transition: 500ms;
    transition: transform cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.3s, opacity ease 0.3s;
  }
.card-masa-projects:hover {
    transform: scale(1);
    opacity: 1;
}
/* Theo's stuff */
.portfolio-box{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
}
.portfolio-img {
    width: 80%;
    position: absolute;
    overflow: hidden;
    border-radius: 3px;
    right: -40%;
    top: 7.5%;
    transition: 0.3s ease right, 0.3s ease left, 0.3s ease bottom;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    max-height: 85%;
}
/* .portfolio-background {
    position: relative;
} */
.portfolio-item{
    position: relative;
    background: white;
    margin: 5px;
    flex-basis: 300px;
    padding: 15px 10px;
    flex-grow: 1;
    cursor: pointer;
    height: 250px;
    overflow: hidden;
    transform: scale(1);
    transition: transform 0.2s ease;    
    max-width: 45%;
    border-radius: 5px;
}
.portfolio-background {
    height: 100%;
    width: 100%;
    /* filter: grayscale(0.95); */
    position: absolute;
    z-index: 0;
    top:0; left:0;
    transition: transform 0.3s ease;
    transform: scale(1,1);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top left;
}
.portfolio-background:hover {
    filter: grayscale(0);
    transform: scale(1.05);
}
.portfolio-background:hover .portfolio-title {
    transform: scale(0);
}
.portfolio-background:hover .portfolio-preview {
    transform: scale(.95);
}
.portfolio-title {
    font-size: 23px;
    font-weight: 700;
    color: var(--masa-beige);
    opacity: 1;
    transition: 200ms ;
    margin: 5% 5% 0% 5%;
    z-index: 2;
    position: relative;
}
.portfolio-preview {
    text-decoration: none;
    color: #fff;
    padding: 0.3rem 1rem;
    margin-top: 10%;
    margin-left: 35%;
    /* justify-content: center;
    align-items: center; */
    width: 30%;
    border-radius: 20px;
    display: grid;
    place-items: center;
    transition: 500ms;
    transform: scale(0);  
}
  /* .card--text {
    height: 10rem;
    width: 15rem;
    display: flex;
    align-items: left;
    justify-content: center;
    overflow: hidden;
    object-fit: cover;
    /* background: linear-gradient(117deg, var(--tsm-red) 0%, var(--tsm-yellow) 52%, var(--michigan-blue) 52%); */
  /* }
  .card--avatar-ng {
    height: 10rem;
    width: 15rem;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    object-fit: cover;
    background: var(--black);
  }
  .card--avatar-spacex {
    height: 10rem;
    width: 15rem;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    object-fit: cover;
    background: var(--white-theme);
  } */ 
  .card--title-masa-projects {
    color: #222;
    font-weight: 700;
    text-transform: capitalize;
    font-size: 1.2rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    height: 3rem;
    /* background: #fff; */
    text-align:left
  }
  .card--link-masa-projects {
    text-decoration: none;
    /* background: #db4938; */
    color: #222;
    /* padding: 0.3rem 1rem .3rem 0rem;
    border-radius: 20px; */
    transition: 500ms;
  }
  .card--link-masa-projects:hover {
    transform: scale(1.10);
  }
/* FORM CSS */
form{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
}
button{
    font-family: "Nunito", sans-serif;
    font-size: large;
    font-weight: 700;
}
form .half{
    width: calc(50% - 10px);
    padding: 10px;
}
.input-wrap{
    background: #eeeeee;
    margin: 5px;
    width: 100%;
    padding: 10px;
}
.input-wrap label{
    float: left;
}
.about-me{
	margin: 20px 0 50px 0;
    font-weight: 400;
}
.input-wrap input{
    float: right;
    width: calc(100% - 30px) !important;
    margin: 0 !important;
    padding: 0 !important;
    margin-top: 3px !important;
}
form .input-wrap i{
    color: #363636;
    margin-top: 7px;
}
form .button{
    font-size: 25px;
    padding: 15px 30px;
    border: none;
    outline: 0;
    cursor: pointer;
    background: #eeeeee;
    margin: 5px;
    vertical-align: middle;
    transform: perspective(1px) translateZ(0);
    position: relative;
    overflow: hidden;
}
.showcase-button-special:not(.button-round){
    border-radius: 0px !important;
}
.showcase .button, .showcase-button-special{
  	display: inline-block;
	padding: 15px 25px;
    border-radius: 50px;
    font-size: 18px;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
  	transform: perspective(1px) translateZ(0);
  	position: relative;
  	overflow: hidden;
    color: #363636;
  	background: #dedede;
  	-webkit-transition: 0.2s ease all;
	transition: 0.2s ease all;
}
.showcase-button-special:before:not(.button-round){
    border-radius: 0px !important;
}
.showcase .button:before, .showcase-button-special:before{
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 50px;
    background: #cdcdcd;
    transform: scale(0);
	transition: transform 0.2s ease-out;
}

.showcase .button:hover, .button:focus, .button:active, .showcase-button-special:focus, .showcase-button-special:hover, .showcase-button-special:active{
  	-webkit-box-shadow: 0px 0px 20px 0px rgba(130,130,130,0.5);
	-moz-box-shadow: 0px 0px 20px 0px rgba(130,130,130,0.5);
	box-shadow: 0px 0px 20px 0px rgba(130,130,130,0.5);
	cursor: pointer;
    color: white;
}
.showcase .button:hover:before, .button:focus:before, .button:active:before, .showcase-button-special:hover:before, .showcase-button-special:focus:before, .showcase-button-special:active:before{
  	-webkit-transform: scale(2);
  	transform: scale(2);
}
form .button:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
    bottom: 0;
    background: #dedede;
    transform: scale(0);
    transition: 0.2s ease-out transform;
}
form .button:hover:before, form .button:focus:before, form .button:active:before {
    transform: scale(2);
}
form input[type="text"], form input[type="date"], form input[type="datetime"], form input[type="email"], form input[type="number"], form input[type="search"], form input[type="tel"], form input[type="time"], form input[type="url"], form textarea, form select, form input[type="password"]{
    border: none;
    font-size: 1rem;
    margin: 5px;
    font-family: "Nunito", sans-serif;
    outline: 0;
    padding: 15px;
    width: 100%;
    background-color: #eeeeee;
    color: #363636;
}
form:not(#createform) textarea{
    min-height: 200px;
    max-height: 300px;
    width: 100%;
}
form select {
  padding: 6px;
  height: 32px;
  border-radius: 2px;
}
form label {
  display: block;
  margin-bottom: 8px;
}
textarea {
    width: 100%;
}